table.order-table {
  width: auto;
  margin-right: 0px;
  margin-left: auto;
}

.alertMessage {
  color: red;
  font-weight: 600;
}

.vending-machine-dashboard {
  height: 100%;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
