<div class="vending-machine-dashboard">
  <div>
    <header>COINS INFORMATION</header>
    <br />
    <table class="coins-information-table">
      <th>Cents</th>
      <th>Penny</th>
      <th>Nickles</th>
      <th>Quarter</th>
      <tr>
        <td>
          <form class="cents-input-form" [formGroup]="centsForm">
            <br />
            <input
              type="text"
              formControlName="cents"
              id="cents-input"
              value=""
            />
            <br />
          </form>
        </td>
        <td>
          <form class="penny-input-form" [formGroup]="pennysForm">
            <br />
            <input
              type="text"
              formControlName="pennys"
              id="penny-input"
              value=""
            />
            <br />
          </form>
        </td>
        <td>
          <form class="nickles-input-form" [formGroup]="nicklesForm">
            <br />
            <input
              type="text"
              formControlName="nickles"
              id="nickles-input"
              value=""
            />
            <br />
          </form>
        </td>
        <td>
          <form class="quarter-input-form" [formGroup]="quartersForm">
            <br />
            <input
              type="text"
              formControlName="quarters"
              id="quarter-input"
              value=""
            />
            <br />
          </form>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <br />
    <header>PRODUCTS INFORMATION</header>
    <br />
    <table class="products-information-table">
      <tr>
        <td>
          <label>COKE </label>

          <div>
            <span class="coke-quantity"
              >(placeholder)
              <span id="coke-display" style="font-size: 12pt"
                >drinks available, Cost=</span
              ></span
            >
            <span class="coke-cost"> (placeholder) </span>
          </div>
        </td>
        <td>
          <form class="coke-input-form">
            <br />
            <input type="text" id="coke-input" value="" />
            <br />
          </form>
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <label>PEPSI </label>
          <div>
            <span class="pepsi-quantity"
              >(placeholder)
              <span class="pepsi-display" style="font-size: 12pt"
                >drinks available, Cost=</span
              ></span
            >
            <span class="pepsi-cost"> (placeholder) </span>
          </div>
        </td>
        <td>
          <form class="pepsi-input-form">
            <br />
            <input type="text" id="pepsi-input" value="" />
            <br />
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <br />
    <table class="order-table">
      <td>
        <label>ORDER TOTAL: </label>
        <div>
          <span class="order-total">
            (placeholder) <span># Cents/Dollars</span></span
          >
          <div><button class="get-drinks">GET DRINKS</button></div>
        </div>
      </td>
    </table>
  </div>
</div>
